[submodule "no-OS-FatFS-SDIO-SPI"]
	path = lib/no-OS-FatFS-SDIO-SPI
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
[submodule "MicroINI"]
	path = lib/MicroINI
	url = https://github.com/kimci86/MicroIni.git
[submodule "lib/TinyUSB"]
	path = lib/TinyUSB
	url = https://github.com/MNS26/tinyusb
